<!DOCTYPE html>
<html lang="en" ng-app="nmaxApp">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel='stylesheet' href='stylesheets/style.css' />
    <link rel='stylesheet' href='stylesheets/lessons.css' />
  	<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-route/angular-route.js"></script>
		<script src="javascripts/app.js"></script>
		<script src="javascripts/controllers.js"></script>
  </head>
<body>

		<div ng-view></div>

		<a href="/lessons">Lessons</a><br/>
		<a href="/">Home</a>
</body>
</html>
